*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: roboto;
  font-size: medium;
  font-weight: 600;
}
font {
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(2, 2, 2);
  border-left: 10px solid rgb(64, 12, 88);
  border-right: 10px solid rgb(64, 17, 92);
  border-top: 10px solid rgb(64, 12, 88);
  border-bottom: 10px solid rgb(64, 17, 92);
}

.container {
  width: 600px;
  max-width: 80%;
  background-color: rgb(39, 31, 41);
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  margin-top: 5%;
  color: rgb(173, 170, 170);
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: hsl(268, 85%, 37%);
  border: 1px solid hsl(271, 75%, 27%);
  border-radius: 5px;
  padding: 5px 10px;
  color: rgb(231, 223, 223);
  outline: none;
}

.btn:hover {
  border-color: yellow;
}

#images {
  height: 500px;
  /*   width: 500px;
 */
  background-size: cover;
  margin-bottom: 3em;
  animation: fadeIn ease 5s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: center;
  border: 1px solid red;
}

#imglogo {
  position: absolute;
  width: 800px;
  height: 500px;
  display: block;
}

#game {
  display: none;
}

.fade-in {
  animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
